.row {
    display: flex;
    padding-top: -10px;
  }

.column {
    flex:50%;
    width: 50%;
}

.column p {
    text-align: left;
    font-weight: 200;
    line-height: 1.5;
    color: #000;
    justify-content: start;
    align-items: center;
    margin-top: 1rem;
    font-size: large;
    width: 300px;
}

.social-media-icons a {
    color: #29335C;
    font-size: 2rem;
    margin-top: 25rem;
}

.social-media-icons a:hover {
    color: #5767aa;
    font-size: 2rem;
    margin-top: 22rem;
}

.singleCol {
    max-width: 750px;
    margin: 0 auto;
}

.vertical-timeline-element--education:hover{
    color: #5767aa;
}

.about__container{
    display: grid;
    grid-template-columns: 35% 50%;
    gap: 15%
}

.about__me{
    width: 100%;
    aspect-ratio: 1/1;
    border-radius: 2rem;
    background: linear-gradient(
        45deg,
        transparent,
        #29335C,
        transparent
    );
    display: grid;
    place-items: center;
}

.about__me-image{
    overflow: hidden;
    transform: rotate(10deg);
    transition: var(--transition);
    height: 500px;
    width: 500px;
    border: 1px solid #29335C;
}

.about__me-image:hover{
    transform: rotate(0deg);
}

.about__cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
}

.about__card{
    background-color: var(--color-bg-variant);
    border: 1px solid transparent;
    border-radius: 1rem;
    padding: 2rem;
    text-align: center;
    transition: var(--transition);
}

.about__card:hover{
    background: transparent;
    border-color: var(--color-primary-variant);
}

.about__icon{
    color: var(--color-primary);
    font-size: 1.4rem;
    margin-bottom: 1rem;
}

.about__card h5{
    font-size: 0.95rem;
}

.about__card small{
    font-size: 0.7rem;
    color: var(--color-light);
}

.about__content p {
    margin: 2rem 0 2.6rem;
    color: var(--color-light);
}